/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header Styles */
header {
    background: #fff34a;
    color: #fff;
    padding: 27px 0;
    min-height: 26px;
    position: relative; 
}

header a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

header ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px;
}

header .logo img {
    width: 70px;
    height: auto;
    vertical-align: middle;
}

nav ul {
    display: flex;
    justify-content: center; 
    padding: 0;
    list-style: none;
    margin: 0;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-size: 2em;
}

/* About Section */
.about {
    background: #f7ffb1;
    color: #333;
    padding: 10px 0;
}

.about h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #77c7c3;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
}

.timeline-content {
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 45%;
    margin: 10px 0;
}

.timeline-content h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.timeline-content p {
    font-size: 16px;
    color: #666;
}

.timeline-item:nth-child(even) .timeline-content {
    margin-left: auto;
    margin-right: 0;
}

.timeline-item:nth-child(odd) .timeline-content {
    margin-left: 0;
    margin-right: auto;
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer .social-links {
    margin: 10px 0;
}

footer .social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}

/* Logo Styling */
header .logo {
    position: absolute; 
    top: 0;
    left: 0;
    margin: 10px; 
}

header .logo img {
    width: 70px; 
    height: auto;
}

/* Social Media Section */
.social-media {
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;

}

.social-media h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
}

.social-icon {
    display: inline-block;
    margin: 10px;
    width: 40px;
    height: 40px;
}

.social-icon img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.social-icon:hover img {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}